.logo {
  text-align: right;
}
.field-input {
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 300px;
  background-color: #e8e8e8;
}
.user-icon {
  text-align: center;
}
.profile-icon {
  text-align: center;
}
.initials {
  display: flex;
  align-items: safe;
  height: 40px;
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}
.profession {
  display: flex;
  align-items: safe;
  height: 40px;
  font-size: 20px;
  margin: 0;
}
.header {
  margin: 5px;
}
.horizontal-line {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
.navbar {
  width: 100%;
  height: 70px;
  padding-top: 0;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-menu {
  list-style-type: none;
}
.navbar-menu li {
  margin: 10px 0;
}
.navbar-menu li a {
  text-decoration: none;
  color: #000;
  padding-right: 57px;
}
.initials-proff-icon .container {
  margin: 20px 0;
}
.descriprion-block {
  word-wrap: break-word;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 10px;
}
.description-text {
  font-size: 14px;
}
.socials-block {
  word-wrap: break-word;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 10px;
}
.socials li {
  list-style-type: none;
  font-size: 14px;
  padding: 3px 0;
}
.socials li p {
  display: inline-block;
  margin: 0 4px;
}
.achievements .row {
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 10px;
  margin-top: 20px;
}
.achievements p {
  font-size: 24px;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.add-portfolio {
  font-size: 30px;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: end;
}
.edit {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;
}
.short-description {
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  background-color: #e8e8e8;
  word-wrap: break-word;
}
.short-desc-input {
  display: flex;
  align-items: center;
}
.short-desc-text p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
}
.description-wrap {
  margin-top: 20px;
}
.full-desc-wrap {
  margin-top: 20px;
}
.full-desc-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
}
.full-description {
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  background-color: #e8e8e8;
}
.full-desc-input {
  display: flex;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
}
.full-desc-input textarea {
  height: 150px;
}
.achievements-link {
  margin-top: 20px;
}
.link-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 18px;
}
.link-input {
  display: flex;
  align-items: center;
}
.link-input input {
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  background-color: #e8e8e8;
}
.button-wrap {
  margin-top: 20px;
}
.button-wrap button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  transition: 0.2s;
}
.button-wrap button:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
.button-wrap button:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}
