.logo {
  text-align: right;
}
.field-input {
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 6px;
  width: 300px;
  background-color: #e8e8e8;
}
.user-icon {
  text-align: center;
}
.header {
  margin: 5px;
}
.horizontal-line {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.navbar {
  width: 100%;
  height: 70px;
  padding-top: 0;
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-menu {
  list-style-type: none;
}
.navbar-menu li {
  margin: 10px 0;
}
.navbar-menu li a {
  text-decoration: none;
  color: #000;
  padding-right: 57px;
}
